# Main 

Zexuan: The main file for category ML model production

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import sqlite3
from sqlalchemy.engine import create_engine

from sklearn import datasets
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import RandomizedSearchCV

from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

from tpot import TPOTClassifier

import tpot_functions 
import periods 
import utils

Define some key variables and numbers

In [26]:
target = 'deal_probability'
LIMIT = None
TIMEOUT_MINS = 30
#SCORING = 'neg_mean_squared_error'
RS = 27

In [27]:
train = pd.read_csv('data/train.csv', parse_dates=['activation_date'], infer_datetime_format=True)[:LIMIT]
train_pd = pd.read_csv('train_price_normalized.csv')[:LIMIT]
#train_periods = pd.read_csv('data/periods_aggregate_features_items.csv')

In [28]:
list(train)

['item_id',
 'user_id',
 'region',
 'city',
 'parent_category_name',
 'category_name',
 'param_1',
 'param_2',
 'param_3',
 'title',
 'description',
 'price',
 'item_seq_number',
 'activation_date',
 'user_type',
 'image',
 'image_top_1',
 'deal_probability']

In [29]:
list(train_pd)

['Unnamed: 0',
 'item_id',
 'category_name',
 'price',
 'deal_probability',
 'cat_price',
 'cat_std',
 'norm_price',
 'cat_price_log',
 'cat_std_log',
 'norm_price_log',
 'price_log']

In [30]:
train_yes = train[['description','param_1','param_2','param_3','image','image_top_1']].isnull().astype(int)
#train_yes = train_yes.rename(index=str, columns={"description": "if_description", "param_1": "if_param_1"}
train_yes.head()

   description  param_1  param_2  param_3  image  image_top_1
0            0        0        1        1      0            0
1            0        0        1        1      0            0
2            0        0        1        1      0            0
3            0        0        1        1      0            0
4            0        0        0        0      0            0

In [31]:
#city = preprocessing.LabelEncoder()
#city.fit(train['city'])  
#list(city.classes_)
#train['city'] = city.transform(train['city'])

#userid = preprocessing.LabelEncoder()
#userid.fit(train['user_id'])  
#list(userid.classes_)
#train['user_id'] = userid.transform(train['user_id'])

In [32]:
train_pd = pd.concat([train_pd[['item_id', 'norm_price_log',target]], train_yes], axis=1)
train = pd.concat([train_pd,pd.get_dummies(train[['user_type', 'parent_category_name', 'category_name', 'region',
                                                  'city', 'item_seq_number','activation_date']])], axis=1)

In [33]:
list(train)

['item_id',
 'norm_price_log',
 'deal_probability',
 'description',
 'param_1',
 'param_2',
 'param_3',
 'image',
 'image_top_1',
 'item_seq_number',
 'activation_date',
 'user_type_Company',
 'user_type_Private',
 'user_type_Shop',
 'parent_category_name_Бытовая электроника',
 'parent_category_name_Для бизнеса',
 'parent_category_name_Для дома и дачи',
 'parent_category_name_Животные',
 'parent_category_name_Личные вещи',
 'parent_category_name_Недвижимость',
 'parent_category_name_Транспорт',
 'parent_category_name_Услуги',
 'parent_category_name_Хобби и отдых',
 'category_name_Автомобили',
 'category_name_Аквариум',
 'category_name_Аудио и видео',
 'category_name_Билеты и путешествия',
 'category_name_Бытовая техника',
 'category_name_Велосипеды',
 'category_name_Водный транспорт',
 'category_name_Гаражи и машиноместа',
 'category_name_Готовый бизнес',
 'category_name_Грузовики и спецтехника',
 'category_name_Детская одежда и обувь',
 'category_name_Дома, дачи, коттеджи',
 'category_name_Другие животные',
 'category_name_Земельные участки',
 'category_name_Игры, приставки и программы',
 'category_name_Квартиры',
 'category_name_Книги и журналы',
 'category_name_Коллекционирование',
 'category_name_Коммерческая недвижимость',
 'category_name_Комнаты',
 'category_name_Кошки',
 'category_name_Красота и здоровье',
 'category_name_Мебель и интерьер',
 'category_name_Мотоциклы и мототехника',
 'category_name_Музыкальные инструменты',
 'category_name_Настольные компьютеры',
 'category_name_Недвижимость за рубежом',
 'category_name_Ноутбуки',
 'category_name_Оборудование для бизнеса',
 'category_name_Одежда, обувь, аксессуары',
 'category_name_Оргтехника и расходники',
 'category_name_Охота и рыбалка',
 'category_name_Планшеты и электронные книги',
 'category_name_Посуда и товары для кухни',
 'category_name_Предложение услуг',
 'category_name_Продукты питания',
 'category_name_Птицы',
 'category_name_Растения',
 'category_name_Ремонт и строительство',
 'category_name_Собаки',
 'category_name_Спорт и отдых',
 'category_name_Телефоны',
 'category_name_Товары для детей и игрушки',
 'category_name_Товары для животных',
 'category_name_Товары для компьютера',
 'category_name_Фототехника',
 'category_name_Часы и украшения',
 'region_Алтайский край',
 'region_Башкортостан',
 'region_Белгородская область',
 'region_Владимирская область',
 'region_Волгоградская область',
 'region_Воронежская область',
 'region_Иркутская область',
 'region_Калининградская область',
 'region_Кемеровская область',
 'region_Краснодарский край',
 'region_Красноярский край',
 'region_Нижегородская область',
 'region_Новосибирская область',
 'region_Омская область',
 'region_Оренбургская область',
 'region_Пермский край',
 'region_Ростовская область',
 'region_Самарская область',
 'region_Саратовская область',
 'region_Свердловская область',
 'region_Ставропольский край',
 'region_Татарстан',
 'region_Тульская область',
 'region_Тюменская область',
 'region_Удмуртия',
 'region_Ханты-Мансийский АО',
 'region_Челябинская область',
 'region_Ярославская область',
 'city_Абан',
 'city_Абатское',
 'city_Абдулино',
 'city_Абинск',
 'city_Абрамовка',
 'city_Абрау-Дюрсо',
 'city_Авдон',
 'city_Агаповка',
 'city_Агидель',
 'city_Агинское',
 'city_Агой',
 'city_Агроном',
 'city_Агрыз',
 'city_Адагум',
 'city_Адамовка',
 'city_Азнакаево',
 'city_Азов',
 'city_Азово',
 'city_Азовская',
 'city_Айша',
 'city_Акбулак',
 'city_Аксай',
 'city_Аксаково',
 'city_Аксубаево',
 'city_Актаныш',
 'city_Актюбинский',
 'city_Акъяр',
 'city_Алапаевск',
 'city_Алейск',
 'city_Александрийская',
 'city_Александрия',
 'city_Александров',
 'city_Александров Гай',
 'city_Александровка',
 'city_Александровск',
 'city_Александровская',
 'city_Александровское',
 'city_Алексеевка',
 'city_Алексеевск',
 'city_Алексеевская',
 'city_Алексеевское',
 'city_Алексин',
 'city_Алзамай',
 'city_Алкино-2',
 'city_Алнаши',
 'city_Алтайское',
 'city_Альметьевск',
 'city_Анапа',
 'city_Анапская',
 'city_Анастасиевская',
 'city_Ангарск',
 'city_Анджиевский',
 'city_Андреево',
 'city_Андрюки',
 'city_Анжеро-Судженск',
 'city_Анна',
 'city_Антипино',
 'city_Антиповка',
 'city_Апастово',
 'city_Апшеронск',
 'city_Арамиль',
 'city_Аргаяш',
 'city_Ардатов',
 'city_Арзамас',
 'city_Арзгир',
 'city_Аркадак',
 'city_Армавир',
 'city_Армизонское',
 'city_Аромашево',
 'city_Арпачин',
 'city_Арсеньево',
 'city_Арск',
 'city_Артемовский',
 'city_Арти',
 'city_Артышта',
 'city_Архангельская',
 'city_Архангельское',
 'city_Архипо-Осиповка',
 'city_Арья',
 'city_Асбест',
 'city_Асекеево',
 'city_Аскарово',
 'city_Аскино',
 'city_Атаманская',
 'city_Атиг',
 'city_Аткарск',
 'city_Афипский',
 'city_Афонино',
 'city_Ахтанизовская',
 'city_Ахтарский',
 'city_Ахтырский',
 'city_Ачикулак',
 'city_Ачинск',
 'city_Ачит',
 'city_Аша',
 'city_Бавлены',
 'city_Бавлы',
 'city_Багаевская',
 'city_Баган',
 'city_Баговская',
 'city_Багратионовск',
 'city_Баево',
 'city_Базарные Матаки',
 'city_Байкалово',
 'city_Байкальск',
 'city_Байкит',
 'city_Баймак',
 'city_Бакал',
 'city_Бакалы',
 'city_Балаганск',
 'city_Балакирево',
 'city_Балаково',
 'city_Балахна',
 'city_Балахоновское',
 'city_Балахта',
 'city_Балашейка',
 'city_Балашов',
 'city_Балезино',
 'city_Балтаси',
 'city_Балтийск',
 'city_Барабинск',
 'city_Баранчинский',
 'city_Барда',
 'city_Барнаул',
 'city_Барсово',
 'city_Барсуки',
 'city_Барсуковская',
 'city_Барышево',
 'city_Батайск',
 'city_Батуринская',
 'city_Бачатский',
 'city_Безенчук',
 'city_Безопасное',
 'city_Бекешевская',
 'city_Белая Глина',
 'city_Белая Калитва',
 'city_Белгород',
 'city_Белебей',
 'city_Белев',
 'city_Белово',
 'city_Белогорск',
 'city_Белозерный',
 'city_Белокуриха',
 'city_Белорецк',
 'city_Белореченск',
 'city_Белореченский',
 'city_Белоярск',
 'city_Белоярский',
 'city_Белый Яр',
 'city_Беляевка',
 'city_Бердск',
 'city_Бердюжье',
 'city_Бердяуш',
 'city_Береза',
 'city_Березанская',
 'city_Березники',
 'city_Березовка',
 'city_Березово',
 'city_Березовский',
 'city_Березовый',
 'city_Береславка',
 'city_Бершеть',
 'city_Бесскорбная',
 'city_Бессоновка',
 'city_Бетьки',
 'city_Бехтеевка',
 'city_Бешпагир',
 'city_Бижбуляк',
 'city_Бийск',
 'city_Билимбай',
 'city_Бирск',
 'city_Бирюсинск',
 'city_Бирюч',
 'city_Бисерть',
 'city_Благовещенка',
 'city_Благовещенск',
 'city_Благодарный',
 'city_Благодатное',
 'city_Бобров',
 'city_Бобровка',
 'city_Бобровский',
 'city_Богандинский',
 'city_Богатое',
 'city_Богатые Сабы',
 'city_Богданович',
 'city_Боголюбово',
 'city_Богородицк',
 'city_Богородск',
 'city_Боготол',
 'city_Богучаны',
 'city_Богучар',
 'city_Бодайбо',
 'city_Боковская',
 'city_Болгар',
 'city_Болотное',
 'city_Болохово',
 'city_Большая Атня',
 'city_Большая Глушица',
 'city_Большая Джалга',
 'city_Большая Ирба',
 'city_Большая Мартыновка',
 'city_Большая Мурта',
 'city_Большая Орловка',
 'city_Большая Соснова',
 'city_Большая Черниговка',
 'city_Большегривское',
 'city_Большеречье',
 'city_Большеустьикинское',
 'city_Большие Салы',
 'city_Большие Уки',
 'city_Большие Чапурники',
 'city_Большое Болдино',
 'city_Большое Козино',
 'city_Большое Мурашкино',
 'city_Большое Село',
 'city_Большое Сорокино',
 'city_Большой Исток',
 'city_Большой Лог',
 'city_Большой Луг',
 'city_Большой Улуй',
 'city_Бор',
 'city_Боргустанская',
 'city_Борисовка',
 'city_Борисоглебск',
 'city_Борисоглебский',
 'city_Боровиха',
 'city_Боровский',
 'city_Бородино',
 'city_Бородинский',
 'city_Борское',
 'city_Бохан',
 'city_Братск',
 'city_Бреды',
 'city_Брейтово',
 'city_Бриньковская',
 'city_Бродокалмак',
 'city_Брусянский',
 'city_Брюховецкая',
 'city_Бугульма',
 'city_Бугуруслан',
 'city_Будённовск',
 'city_Буздяк',
 'city_Бузулук',
 'city_Буинск',
 'city_Буланаш',
 'city_Бураево',
 'city_Буревестник',
 'city_Бурла',
 'city_Бурлацкое',
 'city_Бурмакино',
 'city_Бутка',
 'city_Бутурлино',
 'city_Бутурлиновка',
 'city_Быково',
 'city_Быстрогорский',
 'city_Быстрый Исток',
 'city_Вавож',
 'city_Вагай',
 'city_Вад',
 'city_Валуйки',
 'city_Варениковская',
 'city_Варна',
 'city_Варнавино',
 'city_Васильево',
 'city_Васильково',
 'city_Васюринская',
 'city_Вахтан',
 'city_Вача',
 'city_Вейделевка',
 'city_Великовечное',
 'city_Величаевское',
 'city_Венгерово',
 'city_Венев',
 'city_Венцы',
 'city_Верещагино',
 'city_Верх-Ирмень',
 'city_Верх-Катунское',
 'city_Верх-Нейвинский',
 'city_Верх-Тула',
 'city_Верх-Чебула',
 'city_Верхнебаканский',
 'city_Верхнее Дуброво',
 'city_Верхнерусское',
 'city_Верхнеуральск',
 'city_Верхнеяркеево',
 'city_Верхние Киги',
 'city_Верхние Серги',
 'city_Верхние Татышлы',
 'city_Верхний Мамон',
 'city_Верхний Тагил',
 'city_Верхний Услон',
 'city_Верхний Уфалей',
 'city_Верхняя Пышма',
 'city_Верхняя Салда',
 'city_Верхняя Синячиха',
 'city_Верхняя Тишанка',
 'city_Верхняя Тура',
 'city_Верхняя Хава',
 'city_Верхотурье',
 'city_Веселое',
 'city_Веселый',
 'city_Ветлуга',
 'city_Ветлужский',
 'city_Вешенская',
 'city_Викулово',
 'city_Виля',
 'city_Винзили',
 'city_Виноградный',
 'city_Винсады',
 'city_Витязево',
 'city_Вихоревка',
 'city_Вишневогорск',
 'city_Владимир',
 'city_Владимирская',
 'city_Вознесенская',
 'city_Вознесенское',
 'city_Волга',
 'city_Волгоград',
 'city_Волгодонск',
 'city_Волжский',
 'city_Волово',
 'city_Володарск',
 'city_Волоконовка',
 'city_Волчанск',
 'city_Волчиха',
 'city_Вольгинский',
 'city_Вольск',
 'city_Воля',
 'city_Воробьевка',
 'city_Воронеж',
 'city_Воронежская',
 'city_Воронцовка',
 'city_Воротынец',
 'city_Ворсма',
 'city_Воскресенское',
 'city_Восточный',
 'city_Воткинск',
 'city_Всеволодо-Вильва',
 'city_Выездное',
 'city_Выкса',
 'city_Выселки',
 'city_Высокая Гора',
 'city_Высокий',
 'city_Высокое',
 'city_Высоцкое',
 'city_Вышестеблиевская',
 'city_Вязники',
 'city_Гаврилов-Ям',
 'city_Гагино',
 'city_Гай',
 'city_Гайдук',
 'city_Гайны',
 'city_Галюгаевская',
 'city_Гамово',
 'city_Гари',
 'city_Гвардейск',
 'city_Геленджик',
 'city_Георгиевка',
 'city_Георгиевск',
 'city_Георгиевская',
 'city_Гигант',
 'city_Гидроторф',
 'city_Гирей',
 'city_Глазов',
 'city_Глебовка',
 'city_Глубокий',
 'city_Головино',
 'city_Головчино',
 'city_Голубицкая',
 'city_Голышманово',
 'city_Горбатов',
 'city_Горное Лоо',
 'city_Горнозаводск',
 'city_Горноправдинск',
 'city_Горноуральский',
 'city_Горный',
 'city_Горный Щит',
 'city_Горняк',
 'city_Горняцкий',
 'city_Городец',
 'city_Городище',
 'city_Городищи',
 'city_Гороховец',
 'city_Горьковское',
 'city_Горячеводский',
 'city_Горячий Ключ',
 'city_Гостагаевская',
 'city_Гофицкое',
 'city_Гражданское',
 'city_Грайворон',
 'city_Грамотеино',
 'city_Грахово',
 'city_Грачевка',
 'city_Грачёвка',
 'city_Гремячево',
 'city_Гремячинск',
 'city_Гремячье',
 'city_Грибановский',
 'city_Гривенская',
 'city_Григорополисская',
 'city_Григорьевская',
 'city_Грицовский',
 'city_Грушевская',
 'city_Губаха',
 'city_Губкин',
 'city_Губская',
 'city_Гуково',
 'city_Гулькевичи',
 'city_Гурьевск',
 'city_Гусев',
 'city_Гусевский',
 'city_Гусь-Хрустальный',
 'city_Давлеканово',
 'city_Давыдовка',
 'city_Дальнее Константиново',
 'city_Данилов',
 'city_Даниловка',
 'city_Двубратский',
 'city_Двуреченск',
 'city_Дебёсы',
 'city_Девица',
 'city_Дегтярск',
 'city_Джалиль',
 'city_Джигинка',
 'city_Джубга кп',
 'city_Дзержинск',
 'city_Дзержинское',
 'city_Дивеево',
 'city_Дивногорск',
 'city_Дивное',
 'city_Дивноморское',
 'city_Динская',
 'city_Дмитриевка',
 'city_Дмитриевская',
 'city_Дмитриевское',
 'city_Добрянка',
 'city_Довольное',
 'city_Долгодеревенское',
 'city_Должанская',
 'city_Домбаровский',
 'city_Донецк',
 'city_Донское',
 'city_Донской',
 'city_Дорогино',
 'city_Дракино',
 'city_Дружба',
 'city_Дружинино',
 'city_Дубки',
 'city_Дубна',
 'city_Дубовка',
 'city_Дубовое',
 'city_Дубовское',
 'city_Дубовый Умет',
 'city_Дуван',
 'city_Дудинка',
 'city_Дюртюли',
 'city_Дядьковская',
 'city_Дёмино',
 'city_Егорлыкская',
 'city_Ейск',
 'city_Екатеринбург',
 'city_Екатериновка',
 'city_Елабуга',
 'city_Еланский',
 'city_Еланцы',
 'city_Елань',
 'city_Елань-Колено',
 'city_Елизаветинская',
 'city_Елово',
 'city_Елховка',
 'city_Ельцовка',
 'city_Еманжелинка',
 'city_Еманжелинск',
 'city_Емельяново',
 'city_Енисейск',
 'city_Ерзовка',
 'city_Ермаковское',
 'city_Ермекеево',
 'city_Ермолаево',
 'city_Ершов',
 'city_Ессентуки',
 'city_Ессентукская',
 'city_Еткуль',
 'city_Ефремов',
 'city_Ждановский',
 'city_Железноводск',
 'city_Железногорск',
 'city_Железногорск-Илимский',
 'city_Железнодорожный',
 'city_Жигалово',
 'city_Жигулевск',
 'city_Жирнов',
 'city_Жирновск',
 'city_Заветное',
 'city_Заветный',
 'city_Заводоуковск',
 'city_Заводоуспенское',
 'city_Заволжье',
 'city_Завьялово',
 'city_Заинск',
 'city_Зайково',
 'city_Залари',
 'city_Залесово',
 'city_Заозерный',
 'city_Заокский',
 'city_Заплавное',
 'city_Заречный',
 'city_Заринск',
 'city_Засосна',
 'city_Затеречный',
 'city_Зауральский',
 'city_Звездный',
 'city_Зверево',
 'city_Здвинск',
 'city_Зеленогорск',
 'city_Зеленогорский',
 'city_Зеленоградск',
 'city_Зеленодольск',
 'city_Зеленокумск',
 'city_Землянск',
 'city_Зерноград',
 'city_Зилаир',
 'city_Зима',
 'city_Зимовники',
 'city_Зирган',
 'city_Златоуст',
 'city_Змеиногорск',
 'city_Знаменск',
 'city_Знаменское',
 'city_Золотково',
 'city_Зольская',
 'city_Зональное',
 'city_Зудилово',
 'city_Зыково',
 'city_Зюкайка',
 'city_Ивановская',
 'city_Ивановское',
 'city_Ивантеевка',
 'city_Ивдель',
 'city_Ивня',
 'city_Игарка',
 'city_Иглино',
 'city_Игра',
 'city_Игрим',
 'city_Идринское',
 'city_Ижевск',
 'city_Ижморский',
 'city_Излучинск',
 'city_Изобильный',
 'city_Иланский',
 'city_Илек',
 'city_Иловка',
 'city_Иловля',
 'city_Ильиногорск',
 'city_Ильинская',
 'city_Ильинский',
 'city_Ильский',
 'city_Инзер',
 'city_Иноземцево кп',
 'city_Инской',
 'city_Ипатово',
 'city_Ирбейское',
 'city_Ирбит',
 'city_Иргаклы',
 'city_Иркутск',
 'city_Ис',
 'city_Исаклы',
 'city_Исетское',
 'city_Исеть',
 'city_Исилькуль',
 'city_Искитим',
 'city_Исток',
 'city_Исянгулово',
 'city_Итатский',
 'city_Ишим',
 'city_Ишимбай',
 'city_Ишня',
 'city_Кабаково',
 'city_Кабардинка',
 'city_Кавказская',
 'city_Кагальник',
 'city_Кагальницкая',
 'city_Каз',
 'city_Казанская',
 'city_Казанское',
 'city_Казань',
 'city_Казачинское',
 'city_Казьминское',
 'city_Калач',
 'city_Калач-на-Дону',
 'city_Калачинск',
 'city_Калинин',
 'city_Калининград',
 'city_Калининск',
 'city_Калининская',
 'city_Калманка',
 'city_Калниболотская',
 'city_Калтан',
 'city_Калтасы',
 'city_Калужская',
 'city_Калья',
 'city_Кама',
 'city_Камбарка',
 'city_Каменка',
 'city_Каменоломни',
 'city_Каменск-Уральский',
 'city_Каменск-Шахтинский',
 'city_Камень-на-Оби',
 'city_Камешково',
 'city_Камские Поляны',
 'city_Камское Устье',
 'city_Камышин',
 'city_Камышла',
 'city_Камышлов',
 'city_Канашево',
 'city_Канглы',
 'city_Кандры',
 'city_Каневская',
 'city_Канеловская',
 'city_Канск',
 'city_Кантемировка',
 'city_Карабаново',
 'city_Карабаш',
 'city_Карагай',
 'city_Карагайлинский',
 'city_Караидель',
 'city_Каракулино',
 'city_Карасук',
 'city_Каратузское',
 'city_Каргат',
 'city_Кармаскалы',
 'city_Карпинск',
 'city_Карталы',
 'city_Каскара',
 'city_Касли',
 'city_Катав-Ивановск',
 'city_Качканар',
 'city_Качуг',
 'city_Кашары',
 'city_Каширское',
 'city_Каясула',
 'city_Кваркено',
 'city_Кедровка',
 'city_Кедровый',
 'city_Кез',
 'city_Кемерово',
 'city_Керчевский',
 'city_Киевское',
 'city_Кизел',
 'city_Кизильское',
 'city_Кизнер',
 'city_Кильмезь',
 'city_Кимовск',
 'city_Кинель',
 'city_Кинель-Черкассы',
 'city_Киргиз-Мияки',
 'city_Киреевск',
 'city_Киренск',
 'city_Киржач',
 'city_Кировград',
 'city_Кировская',
 'city_Кирпильская',
 'city_Киселевск',
 'city_Кисловодск',
 'city_Кисляковская',
 'city_Киясово',
 'city_Клетская',
 'city_Ключи',
 'city_Клявлино',
 'city_Княгинино',
 'city_Ковалевское',
 'city_Ковернино',
 'city_Ковров',
 'city_Когалым',
 'city_Кодинск',
 'city_Козловка',
 'city_Козулька',
 'city_Колодезный',
 'city_Колосовка',
 'city_Колтубановский',
 'city_Колывань',
 'city_Кольцово',
 'city_Кольчугино',
 'city_Комсомолец',
 'city_Комсомольский',
 'city_Кондратово',
 'city_Коноково',
 'city_Константиновск',
 'city_Константиновская',
 'city_Константиновский',
 'city_Константиновское',
 'city_Копанская',
 'city_Копейск',
 'city_Кореновск',
 'city_Коржевский',
 'city_Коркино',
 'city_Кормиловка',
 'city_Короча',
 'city_Косиха',
 'city_Костерево',
 'city_Котельниково',
 'city_Котово',
 'city_Кочево',
 'city_Коченево',
 'city_Кочки',
 'city_Кочубеевское',
 'city_Кошки',
 'city_Кошурниково',
 'city_Крапивинский',
 'city_Красная Горбатка',
 'city_Красная Горка',
 'city_Красная Поляна',
 'city_Красная Яруга',
 'city_Красноармейск',
 'city_Красноармейский',
 'city_Красноармейское',
 'city_Краснобродский',
 'city_Красновишерск',
 'city_Красногвардеец',
 'city_Красногвардейский',
 'city_Красногвардейское',
 'city_Красногорский',
 'city_Красногорское',
 'city_Краснодар',
 'city_Красное',
 'city_Краснозерское',
 'city_Краснознаменск',
 'city_Краснокаменск',
 'city_Краснокамск',
 'city_Краснокумское',
 'city_Краснообск',
 'city_Краснооктябрьский',
 'city_Красносельский',
 'city_Краснослободск',
 'city_Краснотуранск',
 'city_Краснотурьинск',
 'city_Красноуральск',
 'city_Красноусольский',
 'city_Красноуфимск',
 'city_Краснохолм',
 'city_Краснохолмский',
 'city_Краснощеково',
 'city_Красноярка',
 'city_Красноярск',
 'city_Красноярский',
 'city_Красные Баки',
 'city_Красные Ткачи',
 'city_Красный Коммунар',
 'city_Красный Кут',
 'city_Красный Сулин',
 'city_Красный Яр',
 'city_Красюковская',
 'city_Криводановка',
 'city_Кривянская',
 'city_Кропачево',
 'city_Кропоткин',
 'city_Кротовка',
 'city_Круглолесское',
 'city_Крутинка',
 'city_Крутиха',
 'city_Крыловская',
 'city_Крымск',
 'city_Кстово',
 'city_Кувандык',
 'city_Кугульта',
 'city_Кудряшовский',
 'city_Кудымкар',
 'city_Куеда',
 'city_Кузедеево',
 'city_Кузино',
 'city_Куйбышев',
 'city_Куйбышево',
 'city_Куйтун',
 'city_Кукмор',
 'city_Кукуштан',
 'city_Кулебаки',
 'city_Кулешовка',
 'city_Култаево',
 'city_Култук',
 'city_Кулунда',
 'city_Кумертау',
 'city_Кумылженская',
 'city_Кунашак',
 'city_Кунгур',
 'city_Купино',
 'city_Курагино',
 'city_Курганинск',
 'city_Куркино',
 'city_Курлово',
 'city_Курманаевка',
 'city_Курсавка',
 'city_Курская',
 'city_Курумоч',
 'city_Курчанская',
 'city_Курьи',
 'city_Курья',
 'city_Куса',
 'city_Кутулик',
 'city_Кушва',
 'city_Кушнаренково',
 'city_Кущевская',
 'city_Куяново',
 'city_Кытманово',
 'city_Кыштовка',
 'city_Кыштым',
 'city_Лабинск',
 'city_Ладовская Балка',
 'city_Ладожская',
 'city_Ладушкин',
 'city_Лаишево',
 'city_Лакинск',
 'city_Лангепас',
 'city_Латная',
 'city_Лебяжье',
 'city_Левиха',
 'city_Левокумка',
 'city_Левокумское',
 'city_Ленина',
 'city_Ленинградская',
 'city_Лениногорск',
 'city_Ленинск',
 'city_Ленинск-Кузнецкий',
 'city_Ленинский',
 'city_Лермонтов',
 'city_Лесная Поляна',
 'city_Лесной',
 'city_Лесогорск',
 'city_Лесосибирск',
 'city_Летник',
 'city_Летняя Ставка',
 'city_Ливенка',
 'city_Линда',
 'city_Линево',
 'city_Липки',
 'city_Лиски',
 'city_Лихой',
 'city_Лобаново',
 'city_Лобва',
 'city_Лог',
 'city_Локомотивный',
 'city_Локосово',
 'city_Ломинцевский',
 'city_Лосево',
 'city_Луговской',
 'city_Лузино',
 'city_Лукино',
 'city_Лукоянов',
 'city_Лысково',
 'city_Лысогорская',
 'city_Лысьва',
 'city_Львовское',
 'city_Любим',
 'city_Любинский',
 'city_Лямино',
 'city_Лянтор',
 'city_Магистральный',
 'city_Магнитка',
 'city_Магнитогорск',
 'city_Майкопское',
 'city_Майкор',
 'city_Майский',
 'city_Малая Пурга',
 'city_Малиновка',
 'city_Малиновое Озеро',
 'city_Малояз',
 'city_Малышева',
 'city_Мальчевская',
 'city_Мама',
 'city_Мамадыш',
 'city_Мамоново',
 'city_Мамонтово',
 'city_Маньково-Калитвенское',
 'city_Мариинск',
 'city_Маркова',
 'city_Марковский',
 'city_Маркс',
 'city_Мартюш',
 'city_Марьинская',
 'city_Марьяновка',
 'city_Марьянская',
 'city_Маслова Пристань',
 'city_Маслянино',
 'city_Матвеев-Курган',
 'city_Матвеевка',
 'city_Матмасы',
 'city_Махнево',
 'city_Мегет',
 'city_Мегион',

In [34]:
#train_new = pd.merge(train, train_periods, on='item_id')
#train_new
len(list(train))

1831

In [35]:
train = train.sort_values(by='activation_date').drop('activation_date', axis=1).set_index('item_id')

In [36]:
train_nonan = train.fillna(train.mean())

KeyboardInterrupt:

In [ ]:
train_nonan.head()

In [37]:
len(list(train))

1829

In [ ]:
train = train.dropna()
train.head()

In [13]:
# SIMPLE: train_test_split
#X = (train.drop(['item_id',target], axis=1)).values
#y = train[target].values

#X_train, X_test, y_train, y_test = train_test_split(X, y,
#                                                    train_size=0.75, test_size=0.25)

In [12]:
# TimeSeriesSplit
X = (train.drop(target, axis=1)).values
y = train[target].values
#tss = TimeSeriesSplit(n_splits=4)
#train_index, test_index = list(tss.split(X))[-1]
#X_train, X_test = X[train_index], X[test_index]
#y_train, y_test = y[train_index], y[test_index]

Try RandomForestRegressor model

In [15]:
config_dict = {'sklearn.ensemble.GradientBoostingRegressor': {
        'n_estimators': [100, 200, 400],
        'loss': ["ls", "lad", "huber", "quantile"],
        'learning_rate': [1e-3, 1e-2, 1e-1, 0.5, 1.],
        'max_depth': range(1, 11),
        'min_samples_split': range(2, 21),
        'min_samples_leaf': range(1, 21),
        'subsample': np.arange(0.05, 1.01, 0.05),
        'max_features': np.arange(0.05, 1.01, 0.05),
        'alpha': [0.75, 0.8, 0.85, 0.9, 0.95, 0.99]
    },
        'sklearn.ensemble.RandomForestRegressor': {
        'n_estimators': [100, 200, 400],
        'max_features': np.arange(0.05, 1.01, 0.05),
        'min_samples_split': range(2, 21),
        'min_samples_leaf': range(1, 21),
        'bootstrap': [True, False]
    },
              }

#RFR = RandomForestRegressor()

RFR = RandomForestRegressor(bootstrap=False, criterion='mse', max_depth=None,
           max_features=0.2, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=20, min_samples_split=4,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=4,
           oob_score=False, random_state=None, verbose=2, warm_start=False)

#GBR  = GradientBoostingRegressor(**params)
#RSCV = RandomizedSearchCV(estimator=GBR, random_state=RS,
#                          param_distributions=config_dict['sklearn.ensemble.RandomForestRegressor'],
#                         n_iter=5,
#                         scoring='r2',
#                         verbose=2)

In [16]:
RFR.fit(X_train, y_train)

building tree 1 of 200
building tree 2 of 200
building tree 3 of 200
building tree 4 of 200
building tree 5 of 200
building tree 6 of 200
building tree 7 of 200
building tree 8 of 200
building tree 9 of 200
building tree 10 of 200
building tree 11 of 200
building tree 12 of 200
building tree 13 of 200
building tree 14 of 200
building tree 15 of 200
building tree 16 of 200
building tree 17 of 200
building tree 18 of 200
building tree 19 of 200
building tree 20 of 200
building tree 21 of 200
building tree 22 of 200
building tree 23 of 200
building tree 24 of 200
building tree 25 of 200
building tree 26 of 200
building tree 27 of 200
building tree 28 of 200
building tree 29 of 200
building tree 30 of 200
building tree 31 of 200
building tree 32 of 200
building tree 33 of 200
building tree 34 of 200
building tree 35 of 200
building tree 36 of 200

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed: 38.5min

building tree 37 of 200
building tree 38 of 200
building tree 39 of 200
building tree 40 of 200
building tree 41 of 200
building tree 42 of 200
building tree 43 of 200
building tree 44 of 200
building tree 45 of 200
building tree 46 of 200
building tree 47 of 200
building tree 48 of 200
building tree 49 of 200
building tree 50 of 200
building tree 51 of 200
building tree 52 of 200
building tree 53 of 200
building tree 54 of 200
building tree 55 of 200
building tree 56 of 200
building tree 57 of 200
building tree 58 of 200
building tree 59 of 200
building tree 60 of 200
building tree 61 of 200
building tree 62 of 200
building tree 63 of 200
building tree 64 of 200
building tree 65 of 200
building tree 66 of 200
building tree 67 of 200
building tree 68 of 200
building tree 69 of 200
building tree 70 of 200
building tree 71 of 200
building tree 72 of 200
building tree 73 of 200
building tree 74 of 200
building tree 75 of 200
building tree 76 of 200
building tree 77 of 200
building tree 78 of 200
building tree 79 of 200
building tree 80 of 200
building tree 81 of 200
building tree 82 of 200
building tree 83 of 200
building tree 84 of 200
building tree 85 of 200
building tree 86 of 200
building tree 87 of 200
building tree 88 of 200
building tree 89 of 200
building tree 90 of 200
building tree 91 of 200
building tree 92 of 200
building tree 93 of 200
building tree 94 of 200
building tree 95 of 200
building tree 96 of 200
building tree 97 of 200
building tree 98 of 200
building tree 99 of 200
building tree 100 of 200
building tree 101 of 200
building tree 102 of 200
building tree 103 of 200
building tree 104 of 200
building tree 105 of 200
building tree 106 of 200
building tree 107 of 200
building tree 108 of 200
building tree 109 of 200
building tree 110 of 200
building tree 111 of 200
building tree 112 of 200
building tree 113 of 200
building tree 114 of 200
building tree 115 of 200
building tree 116 of 200
building tree 117 of 200
building tree 118 of 200
building tree 119 of 200
building tree 120 of 200
building tree 121 of 200
building tree 122 of 200
building tree 123 of 200
building tree 124 of 200
building tree 125 of 200
building tree 126 of 200
building tree 127 of 200
building tree 128 of 200
building tree 129 of 200
building tree 130 of 200
building tree 131 of 200
building tree 132 of 200
building tree 133 of 200
building tree 134 of 200
building tree 135 of 200
building tree 136 of 200
building tree 137 of 200
building tree 138 of 200
building tree 139 of 200
building tree 140 of 200
building tree 141 of 200
building tree 142 of 200
building tree 143 of 200
building tree 144 of 200
building tree 145 of 200
building tree 146 of 200
building tree 147 of 200
building tree 148 of 200
building tree 149 of 200
building tree 150 of 200
building tree 151 of 200
building tree 152 of 200
building tree 153 of 200
building tree 154 of 200
building tree 155 of 200
building tree 156 of 200
building tree 157 of 200
building tree 158 of 200

[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed: 169.6min

building tree 159 of 200
building tree 160 of 200
building tree 161 of 200
building tree 162 of 200
building tree 163 of 200
building tree 164 of 200
building tree 165 of 200
building tree 166 of 200
building tree 167 of 200
building tree 168 of 200
building tree 169 of 200
building tree 170 of 200
building tree 171 of 200
building tree 172 of 200
building tree 173 of 200
building tree 174 of 200
building tree 175 of 200
building tree 176 of 200
building tree 177 of 200
building tree 178 of 200
building tree 179 of 200
building tree 180 of 200
building tree 181 of 200
building tree 182 of 200
building tree 183 of 200
building tree 184 of 200
building tree 185 of 200
building tree 186 of 200
building tree 187 of 200
building tree 188 of 200
building tree 189 of 200
building tree 190 of 200
building tree 191 of 200
building tree 192 of 200
building tree 193 of 200
building tree 194 of 200
building tree 195 of 200
building tree 196 of 200
building tree 197 of 200
building tree 198 of 200
building tree 199 of 200
building tree 200 of 200

[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed: 218.4min finished

RandomForestRegressor(bootstrap=False, criterion='mse', max_depth=None,
           max_features=0.2, max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=20, min_samples_split=4,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=4,
           oob_score=False, random_state=None, verbose=2, warm_start=False)

Try GradientBoostingRegressor model

In [17]:
#params = {'n_estimators': 500, 'max_depth': 4, 'min_samples_split': 2,
#          'learning_rate': 0.01, 'loss': 'ls'}
#config_dict = {'sklearn.ensemble.GradientBoostingRegressor': {
#        'n_estimators': [100, 200, 400],
#        'loss': ["ls", "lad", "huber", "quantile"],
#        'learning_rate': [1e-3, 1e-2, 1e-1, 0.5, 1.],
#        'max_depth': range(1, 11),
#        'min_samples_split': range(2, 21),
#        'min_samples_leaf': range(1, 21),
#        'subsample': np.arange(0.05, 1.01, 0.05),
#        'max_features': np.arange(0.05, 1.01, 0.05),
#        'alpha': [0.75, 0.8, 0.85, 0.9, 0.95, 0.99]
#    }}

#GBR  = GradientBoostingRegressor(**params)
#RSCV = RandomizedSearchCV(estimator=GBR, random_state=RS,
#                          param_distributions=config_dict['sklearn.ensemble.GradientBoostingRegressor'],
#                         n_iter=5,
#                         scoring='r2',
#                         verbose=2)

In [18]:
#RSCV.fit(X_train, y_train)

In [21]:
mse = mean_squared_error(y_test, RFR.predict(X_test))
print("MSE: %.4f" % mse)

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    1.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    4.4s

MSE: 0.0540

[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    5.8s finished

In [22]:
# Does not make sense
r2 = r2_score(y_test, RFR.predict(X_test))
print("R2: %.4f" % r2)

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    0.9s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    4.3s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    5.5s finished

R2: 0.1799

In [15]:
import pickle
filename = 'optimized_tabular_model.sav'
RFR = pickle.load(open(filename, 'rb'))

In [13]:
X = (train_nonan.drop(target, axis=1)).values
y = train_nonan[target].values

In [16]:
y_train = RFR.predict(X)

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    6.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:   25.5s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:   31.9s finished

In [21]:
d = {'item_id': train_nonan.index, 'deal_probability': y_train}
train_output = pd.DataFrame(data=d)
train_output.to_csv('predictions/tabular_train_new1.csv', index=False)

In [2]:
import pickle
#filename = 'optimized_tabular_model.sav'
#pickle.dump(RFR, open(filename, 'wb'))

Load test.csv file and compute

In [3]:
import pickle
filename = 'optimized_tabular_model.sav'
RFR = pickle.load(open(filename, 'rb'))

In [38]:
test_pd = pd.read_csv('test_price_normalized.csv')[:LIMIT]
test = pd.read_csv('data/test.csv', parse_dates=['activation_date'], infer_datetime_format=True)[:LIMIT]

In [39]:
len(test)

508438

In [40]:
len(test_pd)

508438

In [41]:
test_yes = test[['description','param_1','param_2','param_3','image','image_top_1']].isnull().astype(int)
test_yes.head()

   description  param_1  param_2  param_3  image  image_top_1
0            0        0        0        0      0            0
1            0        0        1        1      1            1
2            0        0        1        1      0            0
3            0        0        0        1      1            1
4            0        0        1        1      0            0

In [42]:
len(test_yes)

508438

In [43]:
test_pd = pd.concat([test_pd[['item_id', 'norm_price_log']], test_yes], axis=1)
test = pd.concat([test_pd,pd.get_dummies(test[['user_type', 'parent_category_name', 'category_name', 'region',
                                                  'city', 'item_seq_number','activation_date']])], axis=1) 
  
test.head()

,item_id,norm_price_log,description,param_1,param_2,param_3,image,image_top_1,item_seq_number,activation_date,...,city_Яровое,city_Ярославль,city_Ярославская,city_Ясенская,city_Ясная Поляна,city_Ясногорск,city_Ясногорский,city_Ясный,city_Яшкино,city_Яя
0,6544e41a8817,NaN,0,0,0,0,0,0,66,2017-04-18,...,0,0,0,0,0,0,0,0,0,0
1,65b9484d670f,-0.080554,0,0,1,1,1,1,4,2017-04-16,...,0,0,0,0,0,0,0,0,0,0
2,8bab230b2ecd,1.163858,0,0,1,1,0,0,15,2017-04-17,...,0,0,0,0,0,0,0,0,0,0
3,8e348601fefc,0.377101,0,0,0,1,1,1,70,2017-04-17,...,0,0,0,0,0,0,0,0,0,0
4,8bd2fe400b89,0.901667,0,0,1,1,0,0,15,2017-04-15,...,0,0,0,0,0,0,0,0,0,0

In [44]:
len(test)

508438

In [45]:
test = test.set_index('item_id')

In [46]:
test.head()

,norm_price_log,description,param_1,param_2,param_3,image,image_top_1,item_seq_number,activation_date,user_type_Company,...,city_Яровое,city_Ярославль,city_Ярославская,city_Ясенская,city_Ясная Поляна,city_Ясногорск,city_Ясногорский,city_Ясный,city_Яшкино,city_Яя
item_id,,,,,,,,,,,,,,,,,,,,,
6544e41a8817,NaN,0,0,0,0,0,0,66,2017-04-18,0,...,0,0,0,0,0,0,0,0,0,0
65b9484d670f,-0.080554,0,0,1,1,1,1,4,2017-04-16,0,...,0,0,0,0,0,0,0,0,0,0
8bab230b2ecd,1.163858,0,0,1,1,0,0,15,2017-04-17,0,...,0,0,0,0,0,0,0,0,0,0
8e348601fefc,0.377101,0,0,0,1,1,1,70,2017-04-17,0,...,0,0,0,0,0,0,0,0,0,0
8bd2fe400b89,0.901667,0,0,1,1,0,0,15,2017-04-15,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
test_nonan = test.fillna(test.mean())

In [48]:
test_nonan.head()

,norm_price_log,description,param_1,param_2,param_3,image,image_top_1,item_seq_number,activation_date,user_type_Company,...,city_Яровое,city_Ярославль,city_Ярославская,city_Ясенская,city_Ясная Поляна,city_Ясногорск,city_Ясногорский,city_Ясный,city_Яшкино,city_Яя
item_id,,,,,,,,,,,,,,,,,,,,,
6544e41a8817,0.070350,0,0,0,0,0,0,66,2017-04-18,0,...,0,0,0,0,0,0,0,0,0,0
65b9484d670f,-0.080554,0,0,1,1,1,1,4,2017-04-16,0,...,0,0,0,0,0,0,0,0,0,0
8bab230b2ecd,1.163858,0,0,1,1,0,0,15,2017-04-17,0,...,0,0,0,0,0,0,0,0,0,0
8e348601fefc,0.377101,0,0,0,1,1,1,70,2017-04-17,0,...,0,0,0,0,0,0,0,0,0,0
8bd2fe400b89,0.901667,0,0,1,1,0,0,15,2017-04-15,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
#test_consistent = pd.DataFrame()
#for feat in train.columns.values:
#    if feat not in test:
#        test_consistent.loc[:, feat] = [0.0]*len(test)
#    else:
#        test_consistent.loc[:, feat] = test[feat].values

In [50]:
#test_consistent.head()

In [51]:
#test_consistent = test_consistent.set_index(test.index)

In [52]:
#len(test_consistent)

In [53]:
#test_consistent.head()

In [54]:
#test_nonan = test.fillna(test.mean())

In [55]:
#test_nonan = test_nonan.set_index()
len(test_nonan.columns)

1740

In [56]:
test_consistent_nonan = pd.DataFrame()
for feat in train.columns.values:
    if feat not in test:
        test_consistent_nonan.loc[:, feat] = [0.0]*len(test)
    else:
        test_consistent_nonan.loc[:, feat] = test_nonan[feat].values

In [57]:
test_consistent_nonan.head()

,norm_price_log,deal_probability,description,param_1,param_2,param_3,image,image_top_1,item_seq_number,user_type_Company,...,city_Яровое,city_Ярославль,city_Ярославская,city_Ясенская,city_Ясная Поляна,city_Ясногорск,city_Ясногорский,city_Ясный,city_Яшкино,city_Яя
0,0.070350,0.0,0,0,0,0,0,0,66,0,...,0,0,0,0,0,0,0,0,0,0
1,-0.080554,0.0,0,0,1,1,1,1,4,0,...,0,0,0,0,0,0,0,0,0,0
2,1.163858,0.0,0,0,1,1,0,0,15,0,...,0,0,0,0,0,0,0,0,0,0
3,0.377101,0.0,0,0,0,1,1,1,70,0,...,0,0,0,0,0,0,0,0,0,0
4,0.901667,0.0,0,0,1,1,0,0,15,0,...,0,0,0,0,0,0,0,0,0,0

In [58]:
len(test_consistent_nonan)

508438

In [59]:
len(list(test_consistent_nonan))

1829

In [60]:
test_consistent_nonan = test_consistent_nonan.set_index(test.index)

In [61]:
test_consistent_nonan.head()

,norm_price_log,deal_probability,description,param_1,param_2,param_3,image,image_top_1,item_seq_number,user_type_Company,...,city_Яровое,city_Ярославль,city_Ярославская,city_Ясенская,city_Ясная Поляна,city_Ясногорск,city_Ясногорский,city_Ясный,city_Яшкино,city_Яя
item_id,,,,,,,,,,,,,,,,,,,,,
6544e41a8817,0.070350,0.0,0,0,0,0,0,0,66,0,...,0,0,0,0,0,0,0,0,0,0
65b9484d670f,-0.080554,0.0,0,0,1,1,1,1,4,0,...,0,0,0,0,0,0,0,0,0,0
8bab230b2ecd,1.163858,0.0,0,0,1,1,0,0,15,0,...,0,0,0,0,0,0,0,0,0,0
8e348601fefc,0.377101,0.0,0,0,0,1,1,1,70,0,...,0,0,0,0,0,0,0,0,0,0
8bd2fe400b89,0.901667,0.0,0,0,1,1,0,0,15,0,...,0,0,0,0,0,0,0,0,0,0

In [62]:
len(list(test_consistent_nonan))

1829

In [34]:
#test_consistent = test_consistent.dropna()
#test_consistent_id = test_consistent.index
#test_consistent = test_consistent.drop(['deal_probability'], axis=1)

#test_consistent['deal_probability'] = RFR.predict(test_consistent)

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    1.6s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    7.7s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:    9.9s finished

In [64]:
test_consistent_nonan_id = test_consistent_nonan.index
test_consistent_nonan = test_consistent_nonan.drop(['deal_probability'], axis=1)

test_consistent_nonan['deal_probability'] = RFR.predict(test_consistent_nonan)

[Parallel(n_jobs=4)]: Done  33 tasks      | elapsed:    2.0s
[Parallel(n_jobs=4)]: Done 154 tasks      | elapsed:    9.1s
[Parallel(n_jobs=4)]: Done 200 out of 200 | elapsed:   11.8s finished

In [65]:
d = {'item_id': test_consistent_nonan_id, 'deal_probability': test_consistent_nonan['deal_probability']}
test_output = pd.DataFrame(data=d)
test_output

                   item_id  deal_probability
item_id
6544e41a8817  6544e41a8817          0.056549
65b9484d670f  65b9484d670f          0.138432
8bab230b2ecd  8bab230b2ecd          0.190808
8e348601fefc  8e348601fefc          0.246890
8bd2fe400b89  8bd2fe400b89          0.230973
c63dbd6c657f  c63dbd6c657f          0.220801
6d1a410df86e  6d1a410df86e          0.093939
e8d3e7922b80  e8d3e7922b80          0.025686
2bc1ab208462  2bc1ab208462          0.015233
7e05d77a9181  7e05d77a9181          0.035146
e2ec19a3ca2b  e2ec19a3ca2b          0.312432
68069bfc06c2  68069bfc06c2          0.115862
595842ba248a  595842ba248a          0.509567
4130d5cfc5de  4130d5cfc5de          0.044667
c21ede41b256  c21ede41b256          0.180788
f56e4684ceda  f56e4684ceda          0.298582
e7ab88d19965  e7ab88d19965          0.053737
81c1cd9f4e4e  81c1cd9f4e4e          0.106396
2c989cea0e97  2c989cea0e97          0.108707
36a35020ebeb  36a35020ebeb          0.521284
60b0cc9cf25e  60b0cc9cf25e          0.077172
ac0a01acccc2  ac0a01acccc2          0.334739
683c444d6a40  683c444d6a40          0.140657
5580ccd3358a  5580ccd3358a          0.041898
4596527723ec  4596527723ec          0.587045
2e414b752d9f  2e414b752d9f          0.068559
032e21134f2f  032e21134f2f          0.078017
fd6f6a2ed415  fd6f6a2ed415          0.144446
44da737c70af  44da737c70af          0.065104
272e2ee33c62  272e2ee33c62          0.475867
...                    ...               ...
df8001ca5897  df8001ca5897          0.080057
0455281c86fb  0455281c86fb          0.320535
482d3253c9f1  482d3253c9f1          0.093999
9278e7c14cd0  9278e7c14cd0          0.039211
9041d0340b49  9041d0340b49          0.090194
872c382ce446  872c382ce446          0.072573
67448ad8941c  67448ad8941c          0.506597
6ffaf4c20469  6ffaf4c20469          0.120192
acc46dbda733  acc46dbda733          0.077914
eb33cd6dac70  eb33cd6dac70          0.048234
f9db673cb425  f9db673cb425          0.060441
32727c2ed7e5  32727c2ed7e5          0.042057
2e6f289d2676  2e6f289d2676          0.053625
58fa2c39f791  58fa2c39f791          0.209286
0e1a370c12c7  0e1a370c12c7          0.034307
cc4f7fd3d2f2  cc4f7fd3d2f2          0.211332
29a342aa8508  29a342aa8508          0.098647
fce6b0de65f8  fce6b0de65f8          0.039623
dae17c1850b0  dae17c1850b0          0.440430
549b1c9354e3  549b1c9354e3          0.072308
0915772bb21c  0915772bb21c          0.063199
d8984ced6639  d8984ced6639          0.510206
e7c68be28a03  e7c68be28a03          0.103728
a96a4c5ad75a  a96a4c5ad75a          0.013848
fdcd9910edf3  fdcd9910edf3          0.315441
9f2200aed300  9f2200aed300          0.306014
70813f518de4  70813f518de4          0.160944
a22a2eeb5dd2  a22a2eeb5dd2          0.064905
ed7fbb0733c1  ed7fbb0733c1          0.409406
d374d332992f  d374d332992f          0.110478

[508438 rows x 2 columns]

In [66]:
test_output.to_csv('predictions/tabular_new.csv',index=False)